<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Admin</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="page-shell">
        <header class="header-bar">
            <h1>Ranking</h1>
        </header>
        <section class="ranking-card" id="secaoRanking">
                <h2>Ranking</h2>
                <div id="membrosLista" class="member-list">
                    <p>Aqui aparecerá a lista de membros que entrarem.</p>
                </div>
        </section>
    </div>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>