<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bertha Lutz</h1>
    <input type="text" id="inputNome" placeholder="Seu nome">
    
    <div class="styles" id="divDeSalas">
        <button style="height: 100px; width: 200px;" id="Sala" onclick="criarSala()">Criar Sala</button> 
        <br>
        <button onclick="entrarSala()">Entrar</button>
        <br>
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>